<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Geolocalizacion info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Geolocalizacion:{{coordinates}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Capacitor info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Platform name:{{ptfName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Native Platform:{{ isNative }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Camara available:{{isAvailable}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Device Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Name:{{deviceInfo.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Operating System:{{deviceInfo.operatingSystem}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>OS version: {{deviceInfo.osSystem}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Manufacture: {{deviceInfo.manufacturer}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Is Virtual?:{{deviceInfo.isVirtual}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>UUID:{{deviceId.uuid}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Battery Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Battery Level: {{deviceBattery.batteryLevel}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Is charging?:{{deviceBattery.isCharging}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Network Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Is connected?: {{networkStatus.connected}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Connecting Type?:{{networkStatus.connectionType}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-title>Events Log</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{appStateChangeS}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cambio tipo de conexion:{{networkStatusChange}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>